<h2><%= title %></h2>

<form method="post" action="/footers/edit/<%= footer.id %>">
    <label>YouTube Icon URL:</label><br>
    <input type="text" name="youtube_icon" value="<%= footer.youtube_icon %>"><br>

    <label>VK Icon URL:</label><br>
    <input type="text" name="vk_icon" value="<%= footer.vk_icon %>"><br>

    <label>Instagram Icon URL:</label><br>
    <input type="text" name="instagram_icon" value="<%= footer.instagram_icon %>"><br>

    <label>Facebook Icon URL:</label><br>
    <input type="text" name="facebook_icon" value="<%= footer.facebook_icon %>"><br>

    <label>Address:</label><br>
    <input type="text" name="address" value="<%= footer.address %>"><br>

    <label>Phone Image URL:</label><br>
    <input type="text" name="phone_image" value="<%= footer.phone_image %>"><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" value="<%= footer.phone %>"><br>

    <button type="submit">Update</button>
</form>

<% if (error) { %>
    <p style="color:red;"><%= error %></p>
<% } %>