<h2><%= title %></h2>

<a href="/intros/create">Create New <%= title %></a>

<table>
    <tr>
        <th>N</th>
        <th>image</th>
        <th>title</th>
        <th>descr</th>
        <th>btn_text</th>
        <th>btn_url</th>
        <th>actions</th>
    </tr>

    <% intros.forEach((elem, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td>
                <a href="<%= elem.image %>" target="_blank">
                    <img src="<%= elem.image %>" alt="<%= elem.image %>">
                </a>
            </td>
            <td><%= elem.title %></td>
            <td><%= elem.descr %></td>
            <td><%= elem.btn_text %></td>
            <td><%= elem.btn_url %></td>
            <td>
                <a href="/intros/edit/<%= elem.id %>">Edit</a>
                <a href="/intros/remove/<%= elem.id %>">Remove</a>
            </td>
        </tr>
    <% }) %>
</table>